@import './base.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  overflow: hidden;
  background-color: black;
}
#app {
  margin: 0 auto;
  height: 100%;
  width: 100%;
}

a,
.green {
  text-decoration: none;
  color: hsla(200, 50%, 50%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(200, 50%, 50%, 0.2);
  }
}
